@model Project1.Models.Student


@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<h2>Mark Attendance</h2>

<p>Please Mark the attendace of the Students</p>

<table>
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Attendance</th>
    </tr>
</table>

